<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
</head>

<body>

    <form action="/team" method="POST">
        <p>Team name: <input name='name' id='name' type="text"></p>
        <p>Coach: <input name='coach' id='coach' type="text"></p>
        <p>Point: <input name='pg' id='pg' type="text"></p>
        <p>name: <input name='sg' id='sg' type="text"></p>
        <p>name: <input name='pf' id='pf' type="text"></p>
        <p>name: <input name='sf' id='sf' type="text"></p>
        <p>name: <input name='c' id='c' type="text"></p>
        <input id='Submit' type="submit">Submit</input>
    </form>
</body>

</html>