<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <form method="POST" action="/team">
  <label>Team Name:<input type="text" name="name"/><br>
  <label>Coach:<input type="text" name="coach"/><br>
  <label>Point Guard:<input type="text" name="pg"/><br>
  <label>Shooting guard:<input type="text" name="sg"/><br>
  <label>Small Forward:<input type="text" name="sf"/><br>
  <label>Power Forward:<input type="text" name="pf"/><br>
  <label>Center:<input type="text" name="c"><br>
  <button type="submit" value="submit">Submit</button>
</form>
 </body>
</html>
